<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	<select id="checkUser" parameterType="entity.User" resultType="Integer">
		select count(*) from users where uID=#{uID} and uPwd=#{uPwd}
	</select>

	<select id="getDepartmentList" resultType="entity.Department">
		select departmentID , departmentName from departments
	</select>

	<select id="getDoctorListByDepartmentID" parameterType="String" resultType="entity.Doctor">
		select dID , dName , date from doctors where departmentID=#{departmentID}
	</select>

	<select id="getUserAllIfmByUID" parameterType="String" resultType="entity.User">
		select uID , uPwd , uName , uTel from users where uID=#{uID}
	</select>

	<update id="updateUserIfm" parameterType="entity.User">
		update users set uName=#{uName} , uTel=#{uTel} where uID=#{uID}
	</update>

	<update id="updateUPwd" parameterType="entity.User">
		update users set uPwd=#{uPwd} where uID=#{uID}
	</update>


</mapper>